.env
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
.Python
data/
.wrangler/
node_modules/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
IMPLMENTATION.md
PREREQUIREMENTS.md